*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font: 62.5%/1 sans-serif;
  scroll-behavior: smooth;
  text-size-adjust: 100%;
}

body {
  font: var(--font-weight-regular) var(--font-size-medium) / var(--line-height-large) var(--font-family-sans-serif);
  background-color: var(--color-bg);
  color: var(--color-text);
  margin: 0;
  text-align: left;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: var(--font-weight-bold);
}

p {
  margin: 0;
}

strong {
  font-weight: var(--font-weight-bold);
}

img {
  border: 0;
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

a {
  color: var(--color-text);
  text-decoration: none;
  background-color: transparent;

  &:hover {
    color: var(--color-text);
    text-decoration: none;
  }
}

figure {
  margin: 0;
}
