{% extends 'base.twig' %}

{% block content %}
  <article class="page">
    <div class="container">
      <main class="content">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta obcaecati enim dolores maiores animi sit dicta
          incidunt, quibusdam et fugit rem eaque magni nobis in asperiores eveniet sunt voluptatum sint! Ipsam provident
          iure atque suscipit excepturi magnam vero, explicabo, aut doloremque deleniti sunt eaque praesentium harum
          perspiciatis cum qui? Inventore laborum odio iusto alias iure harum nihil consequuntur, praesentium eligendi.
          Iusto, corporis? Placeat voluptates fugiat alias dolores beatae consectetur soluta blanditiis eligendi numquam
          nam architecto asperiores corrupti officiis ratione earum cupiditate, itaque pariatur! Odio dolor placeat at
          expedita quam ipsa. Delectus aut, exercitationem, labore corporis molestias voluptate beatae nihil maiores
          reiciendis recusandae dolorum obcaecati neque tempora, placeat nemo aspernatur? Rerum, id officiis.
          Repellendus sunt aliquam quo? Porro similique maxime eum? Modi, in quidem hic, tempora, eum nulla mollitia
          perspiciatis harum incidunt delectus quis eligendi? Explicabo quasi quidem, excepturi, reiciendis ipsam
          laudantium commodi asperiores nihil repellat placeat eligendi eaque delectus doloribus. Nulla, earum,
          laboriosam molestiae dolores tempora quia enim nihil ipsa voluptatum beatae officia amet quasi eveniet quas
          corporis minima aliquid praesentium aliquam soluta! Neque, doloremque dolorum. Est architecto commodi
          reprehenderit. Quam excepturi iusto veritatis impedit quos, alias minus reiciendis quae quo magni? Recusandae
          fuga aperiam dolorum commodi ipsam. Quisquam, quod corporis expedita veniam sapiente quia nulla doloremque
          sint voluptates excepturi!
        </p>
      </main>
    </div>
  </article>
{% endblock %}
