{% if post.thumbnail %}
  <figure class="cover">
    {% include 'components/cover.twig' with {
      class: 'cover',
      lazy: true
    } %}
  </figure>
{% endif %}

<header class="card__header">
  <h2 class="card__heading">
    {{ post.title }}
  </h2>

  {% if post.author %}
    <div class="author">
      {% include 'components/author.twig' with {
        author: post.author
      } %}
    </div>
  {% endif %}

  {% if post.categories %}
    <div class="category-list category-list--is-secondary">
      {% include 'components/category-list.twig' with {
        categories: post.categories
      } %}
    </div>
  {% endif %}
</header>
<div class="card__body">
  {% if post.post_excerpt %}
    <p class="card__lead">
      {% filter apply_filters('the_excerpt') %}
        {{ post.post_excerpt }}
      {% endfilter %}
    </p>
  {% endif %}

  <a href="{{ post.link|e('esc_url') }}" aria-label="Read More" class="card__link"><span class="card__inner">{{ __('Czytaj więcej', 'tokk') }}</span></a>
</div>
