<div class="header__wrapper">
  <figure class="logo">
    {% include 'components/logo.twig' %}
  </figure>
  <nav class="menu menu--is-primary menu--is-desktop">
    {% include 'components/menu.twig' with {
      items: menu_1.items
    } %}
  </nav>
  <button class="hamburger" aria-label="Open Mobile Menu">{% include 'components/hamburger.twig' %}</button>
</div>
