<header class="header">
  <div class="header__wrapper">
    <div class="container">
      {% include 'components/social-media.twig' %}
    </div>
  </div>
  <div class="header__wrapper">
    <div class="container">
      {% include 'components/logo.twig' %}

      <nav class="menu--primary">
        {% include 'components/menu.twig' with {
          items: menu_1.items
        } %}
      </nav>
    </div>
  </div>
</header>
