<figure class="logo">
  <a href="{{ site.link }}" class="logo__link" title="{{ site.description ~ ' | ' ~ site.title }}" rel="home"><img src="{{ tokk_logo_url() }}" alt="{{ site.title }}" class="logo__img" /></a>
</figure>
