{% set level = level ?? 0 %}

<ul class="{{ level > 0 ? 'menu__submenu menu__submenu--is-level-' ~ level : 'menu__wrapper' }}">
  {% for item in items %}
    {% set current = item.current ? ' menu__item--is-current' %}
    {% set children = item.has_child_class ? ' menu__item--is-children' %}
    {% set parent = item.current_item_parent ? ' menu__item--is-parent' %}
    {% set ancestor = item.current_item_ancestor ? ' menu__item--is-ancestor' %}
    {% set title = item.attr_title ? ' title="' ~ item.attr_title ~ '"' %}
    {% set target = item.target ? ' target="' ~ item.target ~ '"' %}
    {% set classes = ('menu__link' ~ ' ' ~ (item.custom._menu_item_classes|join(' ')))|trim %}

    <li class="{{ 'menu__item' ~ current ~ children ~ parent ~ ancestor }}">
      {{ '<a' ~ title ~ target ~ ' class="' ~ classes ~ '" href="' ~ item.link ~ '">' ~ item.title ~ '</a>' }}

      {% if item.children %}
        {% include 'components/menu.twig' with {
          items: item.children,
          level: level + 1
        } %}
      {% endif %}
    </li>
  {% endfor %}
</ul>
