<a href="https://facebook.com/tokarczmarczyk" class="social-media__link" target="_blank" rel="noreferrer noopener" aria-label="Facebook">
  <svg class="icon icon--is-facebook">
    <use xlink:href="{{ theme.link ~ '/assets/svg/sprites.svg#icon-facebook' }}"></use>
  </svg>
</a>
<a href="https://instagram.com/tokarczmarczyk" class="social-media__link" target="_blank" rel="noreferrer noopener" aria-label="Instagram">
  <svg class="icon icon--is-instagram">
    <use xlink:href="{{ theme.link ~ '/assets/svg/sprites.svg#icon-instagram' }}"></use>
  </svg>
</a>
<a href="https://twitter.com/tokarczmarczyk" class="social-media__link" target="_blank" rel="noreferrer noopener" aria-label="Twitter">
  <svg class="icon icon--is-twitter">
    <use xlink:href="{{ theme.link ~ '/assets/svg/sprites.svg#icon-twitter' }}"></use>
  </svg>
</a>
<a href="https://linkedin.com/in/tomaszkarczmarczyk" class="social-media__link" target="_blank" rel="noreferrer noopener" aria-label="LinkedIn">
  <svg class="icon icon--is-linkedin">
    <use xlink:href="{{ theme.link ~ '/assets/svg/sprites.svg#icon-linkedin' }}"></use>
  </svg>
</a>
