.footer {
  padding: var(--spacer-x-small) var(--spacer-x-small) var(--spacer-x-small) var(--spacer-medium);
  background-color: var(--color-secondary);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: var(--color-bg);

  &__copyright {
    font-size: var(--font-size-small);
    margin-right: auto;
  }

  &__link {
    font-size: var(--font-size-small);
    margin-left: var(--spacer-x-small);
    padding: 0 var(--spacer-x-small);
    color: inherit;
    position: relative;
    z-index: 1;

    &:hover {
      color: inherit;

      &::before {
        transform: scaleX(1);
      }

      &::after {
        transform: scaleY(1);
      }
    }

    &::before,
    &::after {
      position: absolute;
      left: 0;
      bottom: 0;
      content: "";
      width: 100%;
      background-color: var(--color-text);
      z-index: -1;
    }

    &::before {
      height: 1px;
      transform: scaleX(0);
      transform-origin: left center;
      transition: transform var(--transition-duration) var(--transition-timing-function);
    }

    &::after {
      height: 100%;
      transform: scaleY(0);
      transform-origin: center bottom;
      transition: transform var(--transition-duration) var(--transition-duration) var(--transition-timing-function);
    }
  }
}
