.menu {
  &__wrapper {
    display: flex;
    padding: 0;
    list-style: none;
  }

  &__item {
    margin-left: var(--spacer-medium);

    &:first-child {
      margin-left: 0;
    }
  }

  &__link {
    display: block;
    position: relative;
    z-index: 1;
    line-height: var(--line-height-base);
    padding: var(--spacer-x-small);
    transition: color var(--transition-duration) var(--transition-timing-function);
    text-transform: uppercase;
    font-weight: var(--font-weight-bold);

    .menu__item--current &,
    &:hover {
      color: var(--color-bg);

      &::before {
        transform: scaleY(1);
      }
    }

    &::before {
      position: absolute;
      left: 0;
      bottom: 0;
      content: "";
      z-index: -1;
      background-color: var(--color-secondary);
      width: 100%;
      height: 100%;
      transform: scaleY(0);
      transform-origin: center bottom;
      transition: transform var(--transition-duration) var(--transition-timing-function);
    }
  }

  &--primary {
    flex: 2;
    justify-content: flex-end;
    display: flex;
  }
}
