.top-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: var(--spacer-medium);

  &__link {
    display: block;
    margin-right: var(--spacer-medium);
    font-size: 0;
    line-height: 0;

    &--facebook {
      &:hover {
        .top-bar__path {
          fill: var(--color-facebook);
        }
      }
    }

    &--instagram {
      &:hover {
        .top-bar__path {
          fill: var(--color-instagram);
        }
      }
    }

    &--twitter {
      &:hover {
        .top-bar__path {
          fill: var(--color-twitter);
        }
      }
    }

    &--linkedin {
      &:hover {
        .top-bar__path {
          fill: var(--color-linkedin);
        }
      }
    }
  }

  &__svg {
    width: auto;
    height: 24px;
  }

  &__path {
    fill: var(--color-text);
    transition: fill var(--transition-duration) var(--transition-timing-function);
  }
}
