@mixin links($link, $visited: $link, $hover: $link, $active: $link) {
  & {
    color: $link;

    &:link {
      color: $link;
    }

    &:visited {
      color: $visited;
    }

    &:hover {
      color: $hover;
    }

    &:active {
      color: $active;
    }
  }
}

@mixin hover($bottom: 0, $color: var(--color-primary)) {
  position: relative;
  z-index: 1;

  &::before {
    position: absolute;
    left: 4px;
    right: 4px;
    bottom: $bottom;
    height: 4px;
    content: "";
    background-color: $color;
    z-index: -1;
    transform: translateY(4px);
    transform-origin: center center;
    transition-property: opacity, transform;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
    opacity: 0;
  }

  &:hover::before {
    transform: translateY(0);
    opacity: 1;
  }
}

@mixin selection {
  &::selection {
    background-color: var(--color-primary);
    color: var(--color-white);
  }
}

@mixin focus($offset: 4px) {
  &:focus {
    outline: var(--color-danger) solid 1px;
    outline-offset: $offset;
  }
}
