// Variables
@import "variables";

body {
  font: map-get($font-weights, "regular") 20px #{"/"} map-get($line-heights, "large") $font-family-sans-serif;
  background-color: map-get($colors, "gray-100");
  color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: map-get($font-weights, "bold");
  line-height: map-get($line-heights, "small");
  white-space: pre-line;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 28px;
  position: relative;
  padding-bottom: 12px;

  &::before {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    content: "";
    background: linear-gradient(to right, map-get($colors, "gray-200"), transparent);
  }
}

h3 {
  font-size: 24px;
}

h5,
h5,
h6 {
  font-size: 20px;
}

blockquote {
  background-color: white;
  padding: 20px;
  border-left-width: 8px;
  border-left-style: solid;
  box-shadow: $shadow;

  &.is-style-default {
    border-color: map-get($colors, "primary");
  }

  &.is-style-warning {
    border-color: map-get($colors, "warning");
  }

  &.is-style-danger {
    border-color: map-get($colors, "danger");
  }
}

cite {
  font-size: 12px;
}

figcaption {
  border: 1px solid map-get($colors, "gray-200");
  background-color: white;
  font-size: 12px;
}

pre {
  background-color: white;
  padding: 20px;
  box-shadow: $shadow;
}

a {
  color: map-get($colors, "primary");
  font-weight: map-get($font-weights, "bold");
}

ul,
ol {
  > * + * {
    margin-top: 20px;
  }

  ul,
  ol {
    margin-top: 20px;
  }

  li {
    line-height: map-get($line-heights, "normal");
  }
}

.wp-block {
  max-width: $content-width;
}
