<footer class="footer">
  <div class="container">
    <span class="footer__copyright">© {{ 'now'|date('Y') }} Tomasz Karczmarczyk</span>
    <a href="{{ get_permalink(site.wp_page_for_privacy_policy)|e('esc_url') }}" class="footer__link" title="Polityka prywatności">Polityka prywatności</a>
  </div>
</footer>
