<figure class="logo">
  <a href="{{ site.link }}" class="logo__link" title="{{ site.title ~ ' | ' ~ site.description }}" rel="home">
    <img src="{{ logo_url() }}" alt="{{ site.title }}" class="logo__img" />
  </a>
</figure>
