.card {
  $this: &;
  position: relative;
  z-index: 1;

  > * + * {
    margin-top: var(--spacer-small);
  }

  &__body {
    margin: 0 var(--spacer-small);
    padding: var(--spacer-xx-small) var(--spacer-small) var(--spacer-small);
    background-color: var(--color-white);
    border: 1px solid var(--color-gray-200);

    @include media-breakpoint-up(sm) {
      margin: 0;
    }

    > * + * {
      margin-top: var(--spacer-small);
    }
  }

  &__heading {
    font-size: var(--font-size-large);
    transition: color var(--transition-duration) var(--transition-timing-function);
  }

  &__lead {
    font-size: var(--font-size-small);
    line-height: var(--line-height-large);
  }

  &__link {
    @include links(var(--color-black));
    @include focus();
    display: inline-block;
    font-size: var(--font-size-small);
    line-height: var(--line-height-base);
    font-weight: var(--font-weight-bold);
    transition: color var(--transition-duration) var(--transition-timing-function);

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: "";
      z-index: 2;
    }

    .body--is-desktop &:hover {
      color: var(--color-primary);
    }
  }

  &__inner {
    position: relative;
    border-left: 4px solid var(--color-primary);
    text-transform: uppercase;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    display: inline-block;
    padding: var(--spacer-xx-small) 0 var(--spacer-xx-small) var(--spacer-xxx-small);

    &::before,
    &::after {
      position: absolute;
      left: 0;
      content: "";
      width: 20px;
      height: 4px;
      background-color: var(--color-primary);
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }
  }
}
