.footer {
  background-color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--color-gray-200);

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include media-breakpoint-up(sm) {
      flex-direction: row;
      justify-content: space-between;
      flex-basis: $container-sm-width;
    }

    @include media-breakpoint-up(lg) {
      flex-basis: $container-lg-width;
    }
  }

  &__copyright,
  &__link {
    font-size: var(--font-size-small);
    line-height: var(--line-height-normal);
  }

  &__copyright {
    color: var(--color-black);

    @include media-breakpoint-up(sm) {
      margin-bottom: 0;
    }
  }

  &__link {
    @include links(var(--color-primary));
    @include focus(8px);

    .body--is-desktop & {
      @include hover(-4px);
    }
  }
}
