.footer {
  background-color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--color-gray-200);

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__copyright,
  &__link {
    font-size: var(--font-size-small);
    line-height: var(--line-height-base);
  }

  &__copyright {
    color: var(--color-black);
    margin-bottom: var(--spacer-xx-small);
  }

  &__link {
    @include links(var(--color-primary));
    @include hover(-4px);
    @include focus(8px);
  }
}
