.header {
  background-color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0 var(--spacer-small) var(--spacer-small);
  border-bottom: 1px solid var(--color-gray-200);

  @include media-breakpoint-up(sm) {
    padding: 0;
    align-items: center;
  }

  &__wrapper {
    flex-basis: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-up(sm) {
      flex-basis: $container-sm-width;
    }

    @include media-breakpoint-up(lg) {
      flex-basis: $container-lg-width;
    }
  }
}
