.heading {
  @include selection();

  .body:not(.body--is-single-post) & {
    margin-left: var(--spacer-small);
    margin-right: var(--spacer-small);

    @include media-breakpoint-up(sm) {
      margin-left: 0;
      margin-right: 0;
    }
  }

  &--is-primary {
    font-size: var(--font-size-xx-large);
    text-align: center;
  }

  &--is-secondary {
    font-size: var(--font-size-x-large);
  }

  &--is-404 {
    font-size: calc(var(--font-size-xx-large) * 2);
    line-height: var(--line-height-base);
    text-align: center;
  }
}
