.me {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__cover {
    @include media-breakpoint-up(sm) {
      order: 1;
      flex: 0 0 auto;
    }
  }

  @include media-breakpoint-up(sm) {
    flex-direction: row;
  }
}
