.menu {
  display: flex;

  &__wrapper {
    display: flex;
    padding: 0;
    list-style: none;
    color: var(--color-secondary);
  }

  &__item {
    margin-right: var(--spacer-medium);

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    display: block;
    position: relative;
    z-index: 1;
    line-height: var(--line-height-base);
    text-transform: uppercase;
    font-weight: var(--font-weight-bold);
    padding-bottom: var(--spacer-xx-small);
    color: inherit;

    .menu__item--current &,
    &:hover {
      color: inherit;

      &::after {
        transform: scaleX(1);
      }
    }

    &::before,
    &::after {
      position: absolute;
      left: 0;
      bottom: 0;
      content: "";
      z-index: -1;
      background-color: var(--color-secondary);
      width: 100%;
      height: 2px;
    }

    &::before {
      opacity: 0.25;
    }

    &::after {
      transform: scaleX(0);
      transform-origin: left bottom;
      transition: transform var(--transition-duration) var(--transition-timing-function);
    }
  }

  &--primary {
    align-self: center;
    margin-left: auto;
  }
}
