.menu {
  $this: &;

  &__items {
    padding: 0;
    list-style: none;

    #{$this}--is-mobile & {
      width: 100vw;
    }

    #{$this}--is-desktop & {
      display: flex;
    }
  }

  &__item {
    & + & {
      #{$this}--is-mobile & {
        margin-top: var(--spacer-xxx-large);
      }

      #{$this}--is-desktop & {
        margin-left: var(--spacer-small);
      }
    }

    #{$this}--is-mobile & {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: var(--font-size-xxx-large);
      font-weight: var(--font-weight-bold);
      line-height: 1;
    }
  }

  &__link {
    @include focus(8px);

    #{$this}--is-mobile & {
      @include links(var(--color-white));
      font-size: inherit;
      font-weight: inherit;
      line-height: inherit;
      text-transform: uppercase;
    }

    #{$this}--is-mobile #{$this}__item--is-current & {
      color: var(--color-black);
    }

    #{$this}--is-desktop & {
      @include links(var(--color-primary));
      @include focus(8px);
      display: block;
      text-transform: uppercase;
      font-weight: var(--font-weight-bold);
      line-height: var(--line-height-normal);

      .body--is-desktop & {
        @include hover(-4px);
      }

      @include media-breakpoint-up(sm) {
        font-size: var(--font-size-small);
      }
    }

    #{$this}--is-desktop #{$this}__item--is-current &::before {
      opacity: 1;
      transform: translateY(0);
    }
  }

  &--is-desktop {
    display: none;

    @include media-breakpoint-up(sm) {
      display: block;
    }
  }

  &--is-mobile {
    opacity: 0;
    transform: translateY(var(--spacer-xxx-large));
    transform-origin: center center;
    overflow: auto;
    padding: var(--spacer-xxx-large) 0;

    .aside--is-visible & {
      opacity: 1;
      transform: translateY(0);
      transition-property: transform, opacity;
      transition-duration: var(--transition-duration);
      transition-timing-function: var(--transition-timing-function);
      transition-delay: var(--transition-duration);
    }
  }
}
