.newsletter {
  background-color: var(--color-primary);
  box-shadow: var(--shadow);
  padding: var(--spacer-small);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  > * + * {
    margin-top: var(--spacer-small);
  }

  &__heading {
    font-size: var(--font-size-xx-large);
    color: var(--color-white);
    text-align: center;
  }

  &__text {
    font-size: var(--font-size-small);
    line-height: var(--line-height-normal);
    color: var(--color-white);
  }

  &__form {
    align-self: stretch;

    > * + * {
      margin-top: var(--spacer-small);
    }
  }

  &__form-group {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  &__label {
    font-size: var(--font-size-x-small);
    margin-bottom: var(--spacer-xxx-small);
    line-height: var(--line-height-base);
    color: var(--color-white);
  }

  &__input {
    @include focus();
    align-self: stretch;
    height: 40px;
    font-size: var(--font-size-small);
    padding: 0 var(--spacer-small);
    color: var(--color-black);
    border: none;

    @include media-breakpoint-up(lg) {
      padding: 0 var(--spacer-xxx-small);
    }

    &::placeholder {
      color: var(--color-gray-300);
    }
  }
}
