.single-post {
  > * + * {
    margin-top: var(--spacer-small);
  }

  &__header {
    padding: 0 var(--spacer-small);

    > * + * {
      margin-top: var(--spacer-small);
    }
  }

  &__lead {
    @include selection();
    font-size: var(--font-size-large);
    padding: 0 var(--spacer-small) calc(2 * var(--spacer-xxx-large));
    text-align: center;
    position: relative;

    &::before {
      position: absolute;
      left: 50%;
      bottom: calc(var(--spacer-xxx-large) - 4px);
      content: "";
      width: 8px;
      height: 8px;
      background-color: var(--color-primary);
      margin-left: -4px;
      transform: rotate(45deg);
    }
  }
}
