{% extends 'layouts/base.twig' %}

{% block content %}
  <main class="page">
    <h1 class="heading heading--is-404">
      404
    </h1>

    {% if theme.theme_mod('page_not_found_description') %}
      <div class="description">
        <p class="description__paragraph">
          {{ theme.theme_mod('page_not_found_description') }}
        </p>
      </div>
    {% endif %}
  </main>

  {% if sidebar %}
    <aside class="sidebar sidebar--is-404">
      {{ sidebar }}
    </aside>
  {% endif %}
{% endblock %}
