{% extends 'layouts/base.twig' %}

{% block content %}
  <div class="page">
    <div class="container">
      <main class="content">
        {{ post.content }}
      </main>
    </div>
  </div>
{% endblock %}
